<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header style="background-color:orange; height:100px">
        <div class="container">
            <img src="~/images/logo.png" alt="Company Logo" asp-append-version="true" height="100" width="100" />
            <span class="text-bg-info m-2">Bonaventure Systems</span>
        </div>
    </header>
    <nav class="navbar">
        <a href="/Home/Index">Home</a> | 
        <a href="/Home/About">About</a> |
        <a href="/Home/Contact">Contact</a> |
        <a href="/Home/EmpData">EmpData</a> |
    </nav>
   <main>
        <div class="container">
            @RenderBody()
        </div>
   </main>
    <footer style="background-color:forestgreen;height:100px">
        <div class="container text-center">
            <span>&copy; BVS, Pune. All rights reserved</span>
        </div>
    </footer>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
