@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Sorry An error occurred while processing your request.!Something is not right here.. Try again..</h1>
<a href="/Home/Index">Go Home</a>
<h2 class="text-danger"></h2>
